.Tabs__container{
    /* border: 1px solid black; */

}

.Tabs__container button{
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    width:8%;
    margin:10px ;
    border-color: #c5c5c5;
    border-width: 1px;
    font-size: 14px;
}



.dropdown-button {
    position: relative;
    padding: 10px 20px;
    color: black;
    border-color: #c5c5c5;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
    font-size: 12px;
  }

   .Tabs__container button:hover{
    background-color:#003d29;
    color: white;
    transition: background-color 1s ease;
} 
  

